version=0.26.1
profile=conventional
margin=80
exp-grouping=preserve
break-separators=before
space-around-arrays=false
space-around-lists=false
space-around-records=false
space-around-variants=false
dock-collection-brackets=false
break-fun-decl=fit-or-vertical
break-fun-sig=fit-or-vertical
break-string-literals=auto
break-struct=force
cases-exp-indent=2
field-space=loose
if-then-else=keyword-first
indicate-multiline-delimiters=space
indicate-nested-or-patterns=unsafe-no
infix-precedence=parens
leading-nested-match-parens=false
let-and=sparse
let-binding-spacing=compact
module-item-spacing=sparse
parens-tuple=always
sequence-style=terminator
type-decl=sparse
wrap-comments=true